* {
    font-family: sans-serif;
    font-size: 25px;
}

body {
    background-color: rgb(200, 200, 200);
}

header {
    display: flex;
    justify-content: center;
    margin: 50px;
}

h1 {
    font-size: 50px;
}

p {
    margin: 2%;
    padding: 2%;
    text-align: center;
}

#mybutton {
    display: flex;
    justify-content: center;
}

button {
    background-color: blueviolet;
    color: white;
    margin: 2%;
    padding: 2%;
    border-radius: 25px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 2%;
}